@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body{
  @apply w-full h-full bg-gray-900 text-gray-100  relative overflow-x-hidden;


     &::-webkit-scrollbar {
       width: 6px;
       height: 6px;
     }

     &::-webkit-scrollbar-thumb {
       background: #767576;
     }
}

.swiper-slide ,.swiper-slide-active{
  transform: scale(1.2);
}


// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }

//   body {
//     color: white;
//     background: black;
//   }
// }
