
.container{
  @apply text-gray-100 w-full pt-4;
}

.header{
  @apply max-w-[1440px] mt-0 mx-auto flex h-12 justify-between items-center lg:hidden xl:mx-12 2xl:mx-8;
}
.navbarDesk{

}
.navbarUl{
  @apply flex gap-1 ;
}

.navbarLi{
  @apply py-2 px-4 uppercase  transition-colors hover:text-gray-200;
}

.socials{
  @apply flex gap-4;
}

.imagemHeader{
  @apply w-11 h-11 ;
}


.active_header{
  @apply bg-slate-800 ;
}


/*=============================================================*/

.containerMobile{
  @apply hidden  justify-between mx-7 lg:flex;
}

.imagemHeaderMobile{
  @apply w-8 h-8;
}

.bx{
  @apply w-9 h-9 relative cursor-pointer z-10;
}

.bx::after{
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  transition: .7s ease;

  top: 40%;
  left: 17%;
  background-color: #ffff;
}

.bx::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  transition: .7s ease;

  top: 64%;
  left: 17%;
  background-color: #ffff;
}

.active_bx {
  @apply w-9 h-9 relative cursor-pointer z-20 ;
  transition: .7s ease;
}
.active_bx::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;

    top: 50%;
    left: 17%;

    transform: rotate(-135deg);

    background-color: #fff;
    transition: .7s ease;
}
.active_bx::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    transition: .7s ease;

    top: 50%;
    left: 17%;
    transform: rotate(-405deg);

    background-color: #fff;
}
